.content {
  .archive-wrapper {
    h1 {
      color: $blue;
    }

    article {
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      &:last-of-type {
        border-bottom: 0;
      }

      h1 {
        @include size-height(20, 28);
        font-weight: 400;
        margin: 0;
        text-transform: none;
      }
    }
  }
}

.archive-post {
  figure {
    margin: 0 auto 12px;
  }

  @include respond-to(desktop) {
    display: flex;
    figure {
      margin: 0 24px 0 0;
      max-width: 50%;
    }
  }
}
