$black: #000;
$dark: #3c3d41;
$white: #fff;
$blue: #2852a1;
$button-blue: #1a98d4;
$button-blue-hover: #2aace5;
$grey: #8f8f8f;
$dark-grey: #636363;
$detail: #4e5054;
$light-grey: #eee;
$offwhite: #f7f7f7;
$button-text: #fefefe;
$button: #cc3b53;
$button-hover: #ae283a;
$input: #878787;
$submit: #0397d7;
$subscribe-input: #636363;
$subscribe-input-text: #8f8f8f;
$subscribe-submit: #8f8f8f;
$subscribe-submit-text: #454545;

$trans-black: rgba(0, 0, 0, .6);
$splash-back: #ebebeb;
$splash-red: #cc3b53;
$splash-blue: #1fabe5;
