.centered-content {
  margin: 0 5%;
  max-width: 90%;
  min-height: 300px;

  iframe {
    width: calc(100% - 20px);
  }
}

.content {
  @include clearfix;

  background: $white;
  color: $dark;
  font-weight: 400;
  padding: 2px 0 18px;

  @include nonphone() {
    padding: 18px 0;
  }

  .home & {
    padding: 2px 0 20px;

    @include respond-to(desktop) {
      padding: 2px 0;
    }
  }

  .home-content {
    background: #e0e3e3;
    overflow: hidden;

    h2 {
      margin-top: 10px;
    }
  }

  .section-image {
    margin: 0 auto;

    @include respond-to(tablet) {
      margin: 0 0 0 10%;
    }

    @include respond-to(tabletpro) {
      margin: 0 0 0 10%;
    }

    @include respond-to(desktop) {
      float: left;
      margin: 0 22px 0 0;
    }
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;

    @include nonphone() {
      margin: 0;
    }
  }

  h2,
  h3 {
    @include bold;

    color: $blue;
    display: block;
    margin: 5% 5% 2%;
    text-transform: uppercase;

    @include respond-to(tablet) {
      margin: 2% 20% 2% 10%;
    }

    @include respond-to(tabletpro) {
      margin: 2% 20% 2% 10%;
    }

    @include respond-to(desktop) {
      margin: 0;
    }
  }

  h2 {
    @include size-height(24, 34);
  }

  h3 {
    @include size-height(20, 28);
    margin: 20px 0 10px;
  }

  h1 {
    @include bold;
    @include size-height(24, 34);
    color: $blue;
    margin: 20px 5%;
    text-transform: uppercase;

    @include nonphone() {
      @include size-height(24, 34);
      margin: 20px 20% 20px 10%;
    }

    .single & {
      @include size-height(24, 30);
      color: $black;
    }
  }

  p {
    @include size-height(18, 24);

    margin: 0 5%;

    @include nonphone() {
      @include size-height(22, 27);
      margin: 0 20% 0 10%;

      .home & {
        margin: 0 10%;
      }
    }
  }

  li {
    @include size-height(16, 20);

    @include nonphone() {
      @include size-height(18, 22);
    }

    strong {
      @include semibold;
      @include size-height(18, 24);

      @include nonphone() {
        @include size-height(22, 27);
      }
    }
  }

  &.animal-content {
    .home & {
      padding: 30px 0;
    }

    text-align: center;

    a {
      color: $button;
      text-decoration: none;
      text-transform: uppercase;
    }

    .animal-svg {
      display: inline-block;
      margin: 15px;
    }
  }

  .acknowledgements {
    li {
      margin: 0 0 16px;

      strong {
        @include size-height(16, 20);

        @include nonphone() {
          @include size-height(18, 22);
        }
      }
    }
  }

  .child-page {
    margin: 0 0 24px;
  }

  &.page-content {
    padding: 16px 0 30px;

    @include nonphone() {
      padding: 24px 0 50px;
    }

    a {
      color: $button;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      margin: 0 0 16px;
      padding: 0;

      .single & {
        margin: 24px 0;
      }
    }

    h2 {
      margin: 0;
      text-transform: none;
    }

    h3 {
      color: $dark;
    }

    p {
      margin-bottom: 16px;
    }

    @include nonphone() {
      p {
        margin-bottom: 24px;
      }
    }
  }

  .donate-disclaimer {
    @include size-height(14, 18);
    margin: 10px;

    @include nonphone() {
      margin: 30px;
    }
  }

  .list {
    list-style-type: disc;
    margin: 0 20px 24px 24px;

    li {
      margin: 0 0 16px;
      @include size-height(16, 22);

      @include nonphone() {
        @include size-height(20, 25);
      }
    }
  }

  .footnotes {
    li {
      @include size-height(14, 19);
      margin: 5px 0;
      padding: 5px;
    }

    :target {
      background: $light-grey;
      color: $black;
    }
  }

  .crumbs {
    @include size-height(22, 25);
    margin-bottom: 24px;
  }
}

.page-wrapper {
  background: $white;
}

.page-content-wrapper {
  margin: 0;

  @include nonphone() {
    margin: 0 20% 0 10%;
  }

  p {
    margin: 0 0 16px;

    @include nonphone() {
      margin: 0 0 16px;
    }
  }

  .event_map_wrap,
  #action_info,
  #logo_wrap {
    display: none;
  }

  #can_embed_form h2,
  #can_embed_form p {
    margin: 0 0 15px;

    @include nonphone() {
      margin: 0 0 15px;
    }
  }

  .single & .wp-post-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}

#js-ticketed_event_widget {
  #action_info,
  #donation_recipient_wrap,
  #donate_login {
    display: none;
  }

  #can_embed_form {
    background: $white;

    ul.ticket_list,
    #donation_welcome {
      background: $offwhite;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
    }

    ul.ticket_list li {
      padding: 10px;

      &:last-child {
        border-top: 1px solid #d6d6d6;
      }
    }

    .graytext {
      color: $dark-grey;
    }

    h2 {
      @include bold;
      @include size-height(28, 32);
      color: $blue;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    h3 {
      @include size-height(16, 20);
    }
  }
}

html.can_embed-html {
  background: $white;

  body {
    background: $white;
  }
}

.page-launch {
  #can-ticketed_event-area-launch-party-for-empire-state-humane-voters {
    margin-top: 25px;
  }

  .page-header {
    margin-bottom: 25px;

    h1 {
      display: none;
    }
  }
}

.eshv-table {
  th {
    @include bold;
    @include size-height(11, 20);
    padding: 6px;
    text-align: left;

    @include respond-to(desktop) {
      @include size-height(14, 20);
      padding: 10px 15px 10px 8px;
    }
  }

  tr > td:first-child {
    @include size-height(16, 20);

    @include respond-to(desktop) {
      white-space: nowrap;
    }
  }

  td {
    @include size-height(14, 20);

    border: 1px solid $light-grey;
    padding: 6px;

    @include respond-to(desktop) {
      padding: 8px 15px 8px 8px;
    }
  }
}
