@import 'agenda-content';
@import 'bios';
@import 'table';
@import 'list';
@import 'headers';

.centered-content {
  margin: 0 5%;
  max-width: 90%;
  min-height: 300px;

  .page & iframe {
    width: calc(100% - 20px);
  }
}

.content {
  @include clearfix;

  background: $white;
  color: $dark;
  font-weight: 400;
  padding: 2px 0 18px;

  @include nonphone() {
    padding: 18px 0;
  }

  .home &:not(.agenda-content):not(.animal-content) {
    padding: 2px 0 20px;

    @include respond-to(desktop) {
      padding: 2px 0;
    }
  }

  .home-content {
    background: #e0e3e3;
    overflow: hidden;

    h2 {
      margin-top: 10px;
    }

    p {
      padding: 0 0 20px;

      @include respond-to(desktop) {
        padding: 0;
      }
    }
  }

  .section-image {
    margin: 0 auto;

    @include respond-to(tablet) {
      margin: 0 0 0 10%;
    }

    @include respond-to(tabletpro) {
      margin: 0 0 0 10%;
    }

    @include respond-to(desktop) {
      float: left;
      margin: 0 22px 0 0;
    }
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;

    @include nonphone() {
      margin: 0;
    }
  }

  @include headers;

  p {
    @include size-height(18, 24);

    margin: 0 5%;

    @include nonphone() {
      @include size-height(22, 27);
      margin: 0 10%;
    }
  }

  li {
    @include size-height(16, 20);

    @include nonphone() {
      @include size-height(18, 22);
    }

    strong {
      @include semibold;
      @include size-height(18, 24);

      @include nonphone() {
        @include size-height(22, 27);
      }
    }
  }

  &.animal-content {
    .home & {
      padding: 30px 0;
    }

    text-align: center;

    a {
      color: $button;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  @include agenda-content;

  .acknowledgements {
    li {
      margin: 0 0 1rem;

      strong {
        @include size-height(16, 20);

        @include nonphone() {
          @include size-height(18, 22);
        }
      }
    }
  }

  .child-page {
    margin: 0 0 24px;
  }

  &.page-content {
    padding: 16px 0 30px;

    @include nonphone() {
      padding: 24px 0 50px;
    }

    a {
      color: $button;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.btn-at-primary {
        color: #fff;
      }
    }

    h1 {
      margin: 0 0 16px;
      padding: 0;

      .single & {
        margin: 24px 0;
      }
    }

    h2 {
      margin: 0;
      text-transform: none;
    }

    h3 {
      color: $dark;
      margin: 20px 0 10px;
    }

    p {
      margin-bottom: 1rem;
    }

    @include nonphone() {
      p {
        margin-bottom: 1rem;
      }
    }
  }

  .donate-disclaimer {
    @include size-height(14, 18);
    margin: 10px;

    @include nonphone() {
      margin: 30px;
    }
  }

  .list {
    @include ul;
  }

  .footnotes {
    li {
      @include size-height(14, 19);
      margin: 5px 0;
      padding: 5px;
    }

    :target {
      background: $light-grey;
      color: $black;
    }
  }

  .crumbs {
    @include size-height(22, 25);
    margin-bottom: 24px;
  }
}

.page-wrapper {
  background: $white;
}

.page-content-wrapper {
  margin: 0;

  @include nonphone() {
    margin: 0 10%;
  }

  p {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 1rem;

    @include nonphone() {
      font-size: 16px;
      line-height: 23px;
      margin: 0 0 1rem;
    }
  }

  .event_map_wrap,
  #action_info,
  #logo_wrap {
    display: none;
  }

  #can_embed_form h2,
  #can_embed_form p {
    margin: 0 0 15px;

    @include nonphone() {
      margin: 0 0 15px;
    }
  }

  .single & .wp-post-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}

#js-ticketed_event_widget {
  #action_info,
  #donation_recipient_wrap,
  #donate_login {
    display: none;
  }

  #can_embed_form {
    background: $white;

    ul.ticket_list,
    #donation_welcome {
      background: $offwhite;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
    }

    ul.ticket_list li {
      padding: 10px;

      &:last-child {
        border-top: 1px solid #d6d6d6;
      }
    }

    .graytext {
      color: $dark-grey;
    }

    h2 {
      @include bold;
      @include size-height(28, 32);
      color: $blue;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    h3 {
      @include size-height(16, 20);
    }
  }
}

html.can_embed-html {
  background: $white;

  body {
    background: $white;
  }
}

.page-launch {
  #can-ticketed_event-area-launch-party-for-empire-state-humane-voters {
    margin-top: 25px;
  }

  .page-header {
    margin-bottom: 25px;

    h1 {
      display: none;
    }
  }
}

.eshv-table {
  @include table;
}

.animal-shortcode {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  width: 300px;

  @include respond-to(notphone) {
    width: 500px;
  }

  @include respond-to(tabletpro) {
    width: 100%;
  }

  @include respond-to(desktop) {
    width: 100%;
  }

  .home & {
    padding: 0;
  }
}

.animal-svg {
  display: inline-block;
  margin: 15px;

  @include respond-to(desktop) {
    margin: 12px;
  }
}

.page-content-wrapper {
  .page-what-we-do & p > strong {
    color: $blue;
  }

  h3.bio-group {
    margin: 15px 0 0;
  }

  @include bios;
}

#NVContributionForm493141 {
  .at-recurring {
    display: none;
  }

  .at form .label-amount > a {
    @include respond-to(desktop) {
      height: 68px;
    }
  }
}
