@import 'table';

.post-content {
  max-width: 800px;

  .fb_iframe_widget {
    margin-bottom: 32px;
    max-width: 90% !important;
    width: 90% !important;
  }

  .fb_iframe_widget_fluid span {
    width: 90% !important;
  }

  img {
    display: block;
  }

  img,
  iframe {
    max-width: 100%;
  }

  .byline-time {
    margin: 0 0 32px;
  }

  .byline {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    .sep,
    a {
      display: inline-block;
      margin-left: 3px;
    }

    .sep::before {
      content: ' • ';
    }
  }

  .posted-on {
    display: block;
    font-size: 14px;
    margin: 3px 0 0;

    span {
      font-weight: 600;
    }
  }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }

  .updated:not(.published) {
    display: none;
  }

  code {
    background: #eee;
    font-family: monospace;
    padding: 1px;
  }

  p {
    img {
      margin: 1em 0;
    }
  }

  .wp-caption {
    margin: 0 0 1em;
    max-width: 100%;

    img {
      margin: 0 0 10px;
    }

    p {
      margin: 0;
    }
  }

  .wp-caption-text {
    font-size: 13px;
    font-style: italic;
    line-height: 20px;
  }

  table {
    @include table;
    margin: 0 0 24px;
  }

  ul {
    list-style-type: disc;
    margin: 0 20px 12px 24px;

    li {
      margin: 0 0 5px;
      @include size-height(12, 15);
    }

    @include nonphone() {
      margin: 0 20px 24px 24px;

      li {
        margin: 0 0 1rem;
        @include size-height(16, 21);
      }
    }
  }

  ol {
    @include ol(12);
    margin: 24px 20px 24px 28px;
  }

  blockquote {
    border-left: 4px solid #eee;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    margin: 28px 0 28px 28px;
    padding: 8px 20px;

    p {
      font-size: 18px;
      line-height: 26px;
      &:last-of-type {
        margin: 0;
      }
    }
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  big {
    font-size: bigger;
  }

  small {
    font-size: smaller;
  }

  address {
    @include size-height(16, 22);
    margin: 1em 0;
  }
}
