
.icon {
  background-image: url('/public/sprites/sprite-bbe031af38.png');
}

.icon-nav-down-arrow {
  background-position: -0px -0px;
  width: 13px;
  height: 7px;
}
.icon-down-arrow {
  background-position: -0px -7px;
  width: 24px;
  height: 16px;
}
.icon-email {
  background-position: -0px -23px;
  width: 24px;
  height: 17px;
}
.icon-twitter {
  background-position: -0px -40px;
  width: 22px;
  height: 18px;
}
.icon-instagram {
  background-position: -0px -58px;
  width: 19px;
  height: 20px;
}
.icon-facebook {
  background-position: -0px -78px;
  width: 12px;
  height: 23px;
}
.icon-modal-close {
  background-position: -0px -101px;
  width: 36px;
  height: 36px;
}
.icon-logo-small {
  background-position: -0px -137px;
  width: 160px;
  height: 51px;
}
.icon-footer-logo {
  background-position: -0px -188px;
  width: 77px;
  height: 96px;
}
