$nav-down-arrow: -0px -0px 13px 7px;
$down-arrow: -0px -7px 24px 16px;
$email: -0px -23px 24px 17px;
$twitter: -0px -40px 22px 18px;
$instagram: -0px -58px 19px 20px;
$facebook: -0px -78px 12px 23px;
$modal-close: -0px -101px 36px 36px;
$logo-small: -0px -137px 160px 51px;
$footer-logo: -0px -188px 77px 96px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
